

.title {
  display: flex;
  justify-content: center;
  background-color: white;
}

.dark {
  background-color: #111;
  color: #eee;
}

.color-blind {
  background-color: #1111;
  color: #E66100;
}

.light-mode {
  background-color: #eee;
  color: #111;
}

